@charset "utf-8";

#contents .con_tit {width: 100%;border-bottom: 1px solid #ccc;min-width: 1024px}
h2 {font-size: 17px;color: #343434;font-weight: 600;padding-bottom: 15px;display: block}
.search {min-width: 1024px}
.search #keyword {width: 470px;height: 26px;border: 1px solid #ddd;text-indent: 5px;margin-top: 25px;font-size: 12px}
.search p {vertical-align: middle}
.search button {background: #777;padding: 6px 13px;font-size: 12px;color: #fff;border-radius: 3px;margin-left: 3px}
.sec_tab {height: 100%}
.contents_table {width:100%;min-width: 1024px;border-top: 1px solid #aaa;margin-top: 25px}
.contents_table th {padding: 10px 0;border-bottom: 1px solid #d0d0d0;font-size: 12px;color: #555}
.contents_table td {padding: 10px 0;border-bottom: 1px solid #d0d0d0;font-size: 12px;color: #555}
